<div id="header-top" class="bg-gradient">
   <div id="menu-wrapper">
      <a href="#work" id="logo">
         <!-- <table>
            <tr>
               <td></td>
               <td>li<u><b>an</b></u>g</td>
            </tr>
            <tr>
               <td>y<u><b>an</b></u></td>
               <td></td>
            </tr>
         </table> -->
         <div id="grid">
            <div *ngFor="let square of squares" class="square" [id]="'square-' + square">
            </div>
         </div>
      </a>
      <!-- <app-menu-bar></app-menu-bar> -->
      <app-theme-switch></app-theme-switch>
   </div>
   <!-- highlight -->
   <div id="highlight-container">
      <div id="highlight-center">
         <p><span>Drawings<i> and </i>Renderings<i> of </i>architectural inspirations<i> and </i>other pursuits</span></p>
         <!-- <p><span>of architectural inspirations and related pursuits</span></p> -->
         <p><span>the complexities and potentialities of a particular situation and its intersection are explicated, with consideration given to its urban context</span></p>
         <!-- <h2>An assemblage of drawings and renderings for architectural inspirations and related pursuits</h2> -->
      </div>
      <!-- <div id="highlight-left">
         <h1>an assemblage of architectural inspirations and related pursuits</h1>
      </div>
      <div id="highlight-right">
         <h3>through drawings and renderings, the intricacies and possibilities of a given circumstance and juncture are elucidated, addressing its urban context</h3>
      </div> -->
   </div>
   <app-wave-divider wdType='a'></app-wave-divider>
</div>