<div id="header-top" class="bg-gradient">
   <div id="menu-wrapper">
      <a href="" id="logo">
         <table>
            <tr>
               <td></td>
               <td>li<u><b>an</b></u>g</td>
            </tr>
            <tr>
               <td>y<u><b>an</b></u></td>
               <td></td>
            </tr>
         </table>
      </a>
      <app-menu-bar></app-menu-bar>
      <app-theme-switch></app-theme-switch>
   </div>
   <!-- highlight -->
   <div id="highlight-container">
      <div id="highlight-left">
         <h1>an assemblage of architectural inspirations and related pursuits</h1>
      </div>
      <div id="highlight-right">
         <h3>through drawings and renderings, the intricacies and possibilities of a given circumstance and juncture are elucidated, addressing its urban context</h3>
      </div>
   </div>
</div>