<div id="header-top" class="bg-gradient">
   <div id="menu-wrapper">
      <a href="" id="logo">
         <table>
            <tr>
               <td></td>
               <td>li<u><b>an</b></u>g</td>
            </tr>
            <tr>
               <td>y<u><b>an</b></u></td>
               <td></td>
            </tr>
         </table>
      </a>
      <app-menu-bar></app-menu-bar>
      <app-theme-switch></app-theme-switch>
   </div>
   <!-- highlight -->
   <div id="highlight-container">
      <h1>A collection of architecture and
         other ventures by aspiration and imagination</h1>
      <h3>
         with drawings and renderings
         that explain the specifics and potential of a particular situation and moment, meeting the challenges of the
         program and its urban fabric.
      </h3>




   </div>
   <!-- waves -->
   <app-wave-divider wdType='a'></app-wave-divider>
</div>
